<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账目查询</title>
</head>
<body>
    <div>
            <h3><a href="/person">支出</a></h3>
            <h3><a href="/income">收入</a></h3>
            <h3>查询</h3>
    </div>
    <div>
        {% for i in result%}
        <div>
            {{i.fields.date}}&nbsp &nbsp
            {{i.fields.type}}&nbsp &nbsp
            {{i.fields.number}}&nbsp &nbsp
            {{i.fields.content}}&nbsp &nbsp
        </div>
        {% endfor %}
    </div>
</body>
</html>